.loveletter{
    background-color: rgb(77, 74, 74);
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    width: 549px;
    height: 257px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #ee1b3e;
}
