body {
    font-family: 'Roboto', sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.resume-container {
    width: 75%;
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #add8e6, #a0a0a0);
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.photo-container {
    width: 20%;
}

.photo-container img {
    border-radius: 50%;
}

.header-text {
    flex: 1;
}

.header h1,
.header h2,
.contact-details p {
    color: #333; 
}

.objective {
    background-color: #f0f4f7;
}

.objective h3,
.section h3 {
    color: #333; 
}

.job h4 {
    color: #333; 
}

/* Стиль для кнопок */
.toggle-details {
    background-color: #007BFF; 
}

/* Эффект при наведении */
.toggle-details:hover {
    background-color: #0056b3; 
}
